*
!6 steps to a successful research pr.txt
!utils.sh

!Paradox Interactive/
Paradox Interactive/*
!Paradox Interactive/Europa Universalis IV/
Paradox Interactive/Europa Universalis IV/*
!Paradox Interactive/Europa Universalis IV/mod/
!Paradox Interactive/Europa Universalis IV/mod/**
Paradox Interactive/Europa Universalis IV/mod/use-myself
Paradox Interactive/Europa Universalis IV/mod/废弃

!Paradox Interactive/Stellaris/
Paradox Interactive/Stellaris/*
!Paradox Interactive/Stellaris/mod/
!Paradox Interactive/Stellaris/mod/**

!My Games/
My Games/*
!My Games/Sid Meier's Civilization 5/
My Games/Sid Meier's Civilization 5/*
!My Games/Sid Meier's Civilization 5/MODS/
My Games/Sid Meier's Civilization 5/MODS/*
!My Games/Sid Meier's Civilization 5/MODS/SP Gensokyo
!My Games/Sid Meier's Civilization 5/MODS/SP Gensokyo/**

**/*.mod
**/*.zip