*

!Paradox Interactive/
Paradox Interactive/*
!Paradox Interactive/Europa Universalis IV/
Paradox Interactive/Europa Universalis IV/*
!Paradox Interactive/Europa Universalis IV/mod/
!Paradox Interactive/Europa Universalis IV/mod/**
!Paradox Interactive/Stellaris/
Paradox Interactive/Stellaris/*
!Paradox Interactive/Stellaris/mod/
!Paradox Interactive/Stellaris/mod/**

.vscode
**/*.mod